{% extends "../_base_template.html" %}
{% block title %}Lektion 9 - Datenschutz {% endblock %}

{% block sections %}
<section data-markdown>
<textarea data-template>
<i class="fas fa-graduation-cap"></i> M151 - DB in Web-App einbinden
=============================

Heutiges Ziel
--------------

* Sie wissen, vor was Sie Server und Applikationen schützen müssen
* Sie kennen einfache technische Massnahmen, um gängige Attacken zu vermeiden

</textarea>
</section>

<section data-markdown>
<textarea data-template>
<i class="fas fa-flask"></i> HA: Gedanken zu Web-Angriffen
=============================

**Antworten zu den Aufgaben von letzter Lektion**: Tragen wir zusammen:

* Vor wem (oder vor was) müssen Sie Ihre Web-Applikation schützen?
* WAS müssen Sie schützen?
* Was für Angriffsmöglichkeiten existieren, um Ihre Web-Applikation zu knacken / an unbefugte Daten zu gelangen?

**Padlet zum Sammeln:**
https://padlet.com/alex_schenkel/datenschutz

</textarea>
</section>

<section data-markdown>
<textarea data-template>
<i class="fas fa-flask"></i> Schutz vor Hacks / Missbrauch
=============================

<i class="fas fa-bolt"></i> **Must-Do's** für Entwickler von Web-Applikationen <i class="fas fa-bolt"></i>

Öffentlich erreichbare Web-Applikationen sind heute täglich Hunderten von Angriffsversuchen ausgesetzt.
Wir behandeln einige ausgelesene Angriffsszenarien und Gegenmassnahmen in einer späteren Lektion / mit Kurzreferaten.

Wir wollen heute ein paar sehr einfache, aber bereits sehr effektive Massnahmen erarbeiten, welche Sie als Web-Entwickler umsetzen können,
und bereits viel zur Sicherheit Ihrer Applikation beitragen:

* Programmfehler / Programminformationen unterdrücken / behandeln
* Passwörter nie im Klartext speichern
* direkte Links auf vertrauliche Dateien unterbinden
* Speichern Sie nur Daten, die Sie wirklich benötigen!

Wir erarbeiten 2 Themen in einer kurzen Gruppenarbeit, und tragen die Ergebnisse dann zusammen.

Zeit:
* 20 min Erarbeiten Ihres Themas
* je 10 min Zusammentragen / Erläutern für die Mitschüler
</textarea>
</section>

<section data-markdown>
<textarea data-template>
<i class="fas fa-flask"></i> Schutz vor Hacks / Missbrauch
=============================

### Gruppenarbeit zum Thema „Fehler / Informationen unterdrücken“

Für erfolgreiche Hacks muss ein Angreifer möglichst viel über das anzugreifende System in Erfahrung bringen: Je mehr der Angreifer weiss,
desto eher findet er eine (vielleicht schon bekannte?) Lücke. Es muss also unser erstes Ziel sein,
so wenig Informationen zum System wie möglich preiszugeben.

**Aufgabe:**

Finden Sie Antworten auf untenstehende Fragen:

1. Öffnen Sie die Seite auf meinem Rechner: http://172.20.184.252:8020/dbtest. Die Seite produziert eine Fehlerausgabe.
  * Welche Informationen zum System können Sie aus der Antwort (HTTP Body) herausfinden?
  * Welche zusätzlichen Informationen finden Sie im HTTP-Header?
  * Wie können Sie als Hacker diese Informationen verwenden?
2. Die Fehlermeldung wird vom PHP-Programm ausgegeben. Sie finden das Beispiel in der abgelieferten MVC-Webapp-Vorlage in der Datei „DefaultController.php“.
  Wie können Sie (mittels PHP) verhindern, dass die Fehlerausgabe im Browser angezeigt wird?
</textarea>
</section>

<section data-markdown>
<textarea data-template>
<i class="fas fa-flask"></i> Schutz vor Hacks / Missbrauch
=============================

### Gruppenarbeit zum Thema „Klartext-Passwörter“

Für Login-Mechanismen ist es notwendig, dass Sie in Ihrer Applikation Benutzer und Passwörter speichern, um diese bei einem Login-Versuch vergleichen zu können.
Es ist eine schlechte Idee, Passwörter im Klartext in Ihrem System abzuspeichern.

**Aufgabe:**

Recherchieren Sie, um folgende Fragen dazu beantworten zu können:
* Was ist die Gefahr von Klartext-Passwörtern in Ihrer Datenbank?
* Was bedeutet „Passwort-Hash“, und was ist der Vorteil eines solchen gegenüber eines Klartext-Passworts?
* Wie erzeugen Sie in PHP einen Passwort-Hash?
* Wie überprüfen Sie in PHP einen Passwort-Hash?
* Was ist ein „Hash Salt“, und wo findet er bei Passwort-Hashes Verwendung? Wieso?
</textarea>
</section>

<section data-markdown>
<textarea data-template>
<i class="fas fa-flask"></i> Schutz vor Hacks / Missbrauch
=============================
### Gruppenarbeit zum Thema „Direktliks auf vertrauliche Dateien“

Dateien, welche auf dem Webserver liefern, werden von diesem ausgeliefert.
Nun sind aber nicht alle Dateien für alle Augen gedacht: Beispielsweise sollten
vom Benutzer hochgeladene vertrauliche Dokumente nicht einfach abrufbar sein. Stellen Sie
sich vor, dass Ihre geheimen Dokumente einfach so abrufbar wären:

http://meine-seite.ch/geheime_dokumente/spionagebericht.pdf

Solche Zugriffe müssen zwar möglich sein, aber **NUR** für berechtigte Benutzer.


**Aufgabe:**

Recherchieren Sie, um folgende Fragen dazu beantworten zu können:
* Welche technischen Massnahmen gibt es (in Apache und / oder PHP), um Direktzugriffe auf Dateien zu verhindern?
* Wie sorgen Sie dafür (mittels PHP), dass **berechtigte** Benutzer trotzdem die Dateien herunterladen können?
</textarea>
</section>

<section data-markdown>
<textarea data-template>
<i class="fas fa-graduation-cap"></i> Schutz vor Hacks / Missbrauch: „Must-Do“ für Entwickler von Web-Applikationen
=============================

Auf den [folgenden Folien](unterricht_alles.html) sehen wir uns die Lösungen zu diesen Fragen an.

</textarea>
</section>
{% endblock %}
