{% extends "../_base_template.html" %}
{% block title %}Lektion 13 - Design Pattern - Übungen{% endblock %}

{% block sections %}
<section data-markdown>
<textarea data-template>
<i class="fas fa-flask"></i> Übungen zu Design Pattern
=============================

Ziel
-----

* Sie kennen die 5 Design Pattern aus dem Unterricht:
  * Singleton
  * Factory Method
  * Observer/Observable
  * Adapter
  * Strategy
* Sie können diese in Java korrekt implementieren


</textarea>
</section>

<section data-markdown>
<textarea data-template>
<i class="fas fa-flask"></i> Design Pattern
=============================

Wir fassen nochmals zusammen:

* Design Pattern sind Ideen, "Best Practices", wie bestimmte, konkrete und wiederkehrende Problemstellungen gelöst werden können.
* Design Pattern finden Sie überall, und Sie wenden diese vielmals intuitiv und ohne dass Sie sich dessen bewusst sind an.
* Design Pattern helfen vor allem in grösseren Projekten, eine gewisse Code-Standardisierung zu erzielen: Sie definieren vielmals die grundlegende Architektur (z.B. MVC)
* Design Pattern finden Sie in allen Programmiersprachen.

Infos zu Design Pattern finden Sie z.B. hier:

http://java-design-patterns.com/patterns/


</textarea>
</section>


<section data-markdown>
<textarea data-template>
<i class="fas fa-graduation-cap"></i> Übungen zu Design Pattern
=============================

Auf Moodle wenden wir die Design Pattern in verschiedenen Übungen an.

Ziel:

* Sie haben verschiedene Design Pattern in realen Programmen angewendet
* Sie kennen die Design-Pattern durch Anwendung

Schauen Sie sich die Übungen an. Sie müssen nicht alle machen. Nehmen Sie sich diejenigen vor, die Sie am meisten Interessiert, die Sie am ehesten lernen wollen.

</textarea>
</section>


{% endblock %}
