{% extends "../_base_template.html" %}
{% block title %}Lektion 10 - Entwurfsmuster, Iteration, Rekursion{% endblock %}

{% block sections %}
<section data-markdown >
<textarea data-template>
<i class="fas fa-graduation-cap"></i> Lektion 10 - Entwurfsmuster, Iteration, Rekursion
=============================

Ziele:

* Sie können ein paar Beispiele von Entwurfsmuster nennen
* Sie verstehen den Verwendungszweck von Entwurfsmustern
* Sie können an bestehendem Source-Code Entwurfsmuster erkennen
* Sie können die rekursive Programmform beschreiben und ihren Nutzen (und Probleme) benennen
* Sie können rekursive und iterative Programmformen unterscheiden
* Sie können einfache, definierte Probleme in rekursiver Form umsetzen
</textarea>
</section>

<section data-markdown >
<textarea data-template>
<i class="fas fa-graduation-cap"></i> Entwurfsmuster
=============================

Sie haben auf heute über Entwurfsmuster gelesen:

* Greedy
* Divide and Conquer
* Backtracking
</textarea>
</section>

<section data-markdown >
<textarea data-template>
<i class="fas fa-graduation-cap"></i> Entwurfsmuster - Greedy
=============================

Idee
------

Greedy bedeutet "Gierig": Wir wollen mit diesem Algorithmus in jedem Teilschritt möglichst viel erreichen.

**Beispiel Münz-Rückgabe:**

* Sie müssen einen Rückgeld-Algoritmus entwerfen.
* Sie möchten mit möglichst wenig Münzen auf den Betrag kommen.
* Sie haben folgende Münzen: 5rp, 10rp, 50rp, 1Fr., 2Fr. 5Fr
* Sie müssen 13.75 rückgeben.

"Greedy" bedeutet hier: Wir versuchen, in jedem Teilschritt möglichst viel "zurückzugeben", bis der Betrag erreicht ist:

23.75 = 5Fr + 5Fr + 2Fr + 1Fr + 50rp + 20rp + 5rp

Das scheint optimal! Hier ist das lokale Optimum (Optimum in einem Schritt) auch das globale Optimum (optimales Endergebnis).

**Gegenbeispiel**

* Selbe Aufgabe, aber Sie haben nun folgende Münzen: 1rp, 5rp, 11rp.
* Geben Sie 15rp zurück!

15rp = 11rp + 1rp + 1rp + 1rp + 1rp

<i class="far fa-hand-point-right"></i> Hier erreicht man durch Greedy und lokale Optimierung kein globales Optimum (5rp + 5rp + 5rp wäre besser!)
</textarea>
</section>

<section data-markdown >
<textarea data-template>
<i class="fas fa-graduation-cap"></i> Entwurfsmuster - Greedy
=============================

Wann kann Greedy sinnvoll sein?

1. Gegebene Menge von Inputwerten (hier: Münzen)
2. Menge von Lösungen, die aus Eingabewerten aufgebaut sind
3. Lösungen lassen sich schrittweise aus partiellen Lösungen, beginnend bei der leeren Lösung, durch Hinzunahme von Eingabewerten aufbauen.
   <br />Alternativ: Bei einer ganzen Menge beginnend schrittweise jeweils ein Element entfernen
4. Bewertungsfunktion existiert für partielle und vollständige Lösung (was ist gut / schlecht)
5. Gesucht wird die / eine optimale Lösung

</textarea>
</section>

<section data-markdown >
<textarea data-template>
<i class="fas fa-graduation-cap"></i> Entwurfsmuster - Divide and Conquer
=============================

"Teile und Herrsche" ist ein sehr wichtiges Prinzip um Probleme zu lösen - nicht nur in Algorithmen!
Es besagt grundsätzlich, dass ein grosses Problem in kleine Teilprobleme aufgeteilt wird, welche in sich
einfacher zu lösen sind.

Grundidee
------------

> Teile das gegebene Problem in mehrere getrennte Teilprobleme auf, löse diese einzeln und setze die Lösungen des
ursprünglichen Problems aus den Teillösungen zusammen. Wende dieselbe Technik auf jedes der Teilprobleme an, dann auf
deren Teilprobleme, usw, bis die Teilprobleme klein genug sind, dass man eine Lösung explizit angeben kann. Strebe an,
dass jedes Teilproblem von derselben Art ist wie das ursprüngliche Problem, so dass es mit demselben Algorithmus gelöst
werden kann.


** Beispiel Mergesort**

(werden wir auch noch kennen lernen)

```
funktion mergesort(liste);
  falls (Größe von liste <= 1) dann antworte liste
  sonst
     halbiere die liste in linkeListe, rechteListe
     linkeListe = mergesort(linkeListe)
     rechteListe = mergesort(rechteListe)
     antworte merge(linkeListe, rechteListe) // Zusammenführen der Teilergebnisse im "Reissverschlussverfahren"
```

Siehe Wikipedia: https://de.wikipedia.org/wiki/Mergesort#Implementierung
</textarea>
</section>

<section data-markdown >
<textarea data-template>
<i class="fas fa-graduation-cap"></i> Rekursion - Iteration
=============================

... nächster Foliensatz: [unterricht_rekursion.html](./unterricht_rekursion.html)
</textarea>
</section>

{% endblock %}
