{% extends "_base_template.html" %}

{% block sections %}
<style>
  p,
  td {
    font-size: 0.9em !important;
  }
</style>

<section>
  <section id="home" data-markdown style="font-size:10pt;">
    <textarea data-template>
M151 - DB in Webapplikation einbinden | Jahresplan 2021 - IN 18-22c
=================

**LBV**: 151-5 (Bearbeiten eines Projektes) zu 80%, Kurzvortrag zu 20% (frei gewählt)

| Lekt. | Datum       | Thema | Detail                                            |
|-------|-------------|--------------|--------------------------------------------|
|<td colspan="3"><strong>Sommerferien 10. Juli - 15. August 2021</strong> |
| [ 001 ](001_start/unterricht.html)               | 18.08.2021  | Einführung | Jahresplan, Verteilung Classroom / Docker-Setup, Abgabe Projektaufgabe |
| [ 002 ](002_web_architektur/unterricht.html)     | 25.08.2021  | Web-Applikations-Architektur|HTTP-Requests, statische / dynamische Seiten |
| [ 003 ](003_mvc_framework/unterricht.html)       | 01.09.2021  | MVC-Framework | Wir bauen ein eigens MVC-Framework: App-Einstieg, Routing |
| [ 004 ](004_views/unterricht.html)               | 08.09.2021  | MVC-Framework | Controllers, Views |
| [ 005 ](005_db_zugriff/unterricht.html)          | 15.09.2021  | Datenbank-Zugriff, Kommunikation Frontend/Backend| Verbindungsaufbau DB, Queries, Forumulardaten |
| [ 006 ](006_model/unterricht.html)               | 22.09.2021  | 2. Teil DB-Zugriff| 2. Teil, Umsetzen in Model (QueryBuilder) |
| [ 007 ](007_sessions/unterricht.html)            | 29.09.2021  | Sessions, State |Stateless → Stateful: Sessions <br />Input zu Referate am 17., 20% für Modulnote|
|  008                                             | 06.10.2021  | Projektzeit | Zeit für Fragen und Projektarbeit. **Bereiten Sie Fragen vor!** |
|<td colspan="3"><strong>Herbstferien 09. Oktober - 24. Oktober 2020</strong></td>|
| [ 009 ](009_datenschutz/unterricht.html)         | 27.10.2021  | Daten schützen| Thema Datensicherheit, Datenschutz, Was heisst Sicherheit? Was gilt es zu schützen?  Was heisst Datenschutz? Wie wird er umgesetzt? Angriffe von Aussen|
| [ 010 ](010_datenschutz/unterricht.html)         | 03.11.2021  | Daten schützen|Angriffe von Aussen, technische Massnahmen für den Datenschutz |
| [ 011 ](011_locking/unterricht.html)             | 10.11.2021  | Daten schützen, Applikatorisches Locking|Datensatz-Locking auf Applikationsebene |
| [ 012 ]()                                        | **17.11.2021**  | Daten schützen | **Referate zu Web-Bedrohungen, 4 Vorführungen**  |
| [ 013 ](013_files/unterricht.html)               | 24.11.2021  | Dateien behandeln|Dateien hochladen, speichern, ausliefern, Dateizugriff schützen |
| [ 014 ](014_externe_datenquellen/unterricht.html)| 01.12.2021  | Externe Datenquellen|Anbinden von externen Daten via API |
|   015                                            | 08.12.2021  | Projektzeit | Zeit für Fragen und Projektarbeit. **Bereiten Sie Fragen vor!** |
| [ 016 ](016_testing/unterricht.html)             | 15.12.2021  | Testing|Manuelle Systemtests, Test-Konzepte, Tests aus Change Requests |
|                                                  | **18.12.2021**  | **Abgabe** | **Abgabe Projektarbeit: Code+Doku** |
|<td colspan="3"><strong>Weihnachtsferien 21. Dezember 2020 - 03. Januar 2021</strong></td>|
|  017                                             | 05.01.2022  | **Projekt-Demos**|**4 Projekt-Demos** |
| [ 018 ](018_changes/unterricht.html)                 | 12.01.2022  | Change Requests, Projektarbeits-Zeit|Änderungen verwalten (Change Requests), Web-App-Update, DB-Update Organisation (Versionen, DB-Migrationen) |
| [ 019 ](019_bonus_lektion_websockets/unterricht.html)| 19.01.2022  |Bonus-Lektion| Thema: WebSockets mit Ratchet PHP |
| [ 020 ](019_bonus_lektion_websockets/unterricht.html)| 26.01.2022  |Bonus-Lektion| Thema: WebSockets mit Ratchet PHP, Teil 2 |
|<td colspan="3"><strong>Sportferien 29. Januar 2022 - 06. Februar 2021</strong></td>|

</textarea>
</section>

<section data-markdown>
<textarea data-template>
M151 | Infrastruktur
=================

Die Schüler erhalten eine fertige Infrastruktur. Es hat sich gezeigt, dass das individuelle Setup
sehr fehleranfällig und zeitraubend ist. Für dieses Modul wird folgende Infrastruktur genutzt / bereitgestellt:

* Github Classroom-Repository mit Skeleton-Repo mit allen notwendigen Daten
  darin befindet sich:
  * ein Docsify-Starter für die Dokumentation
  * eine Docker-Compose-Umgebung mit folgenden Containern:
    * PHP 7.4-Webserver mit notwendigen Tools (composer)
    * MySQL-DB-Server mit Initial-DB
    * Docsify-Server mit PlantUML
    * PlantUML-Server für lokale UML-Generierung
</textarea>
</section>
</section>

{% endblock %}
