{% extends "_base_template.html" %}

{% block sections %}
<style>
p,td {
    font-size: 0.8em !important;
}
</style>

<section id="home" data-markdown>
<textarea data-template>
Jahresplan Sommer 2018 | M151 - DB in Webapplikation einbinden
=================

LBV: 151-1 (Bearbeiten eines Projektes) zu 80%, 151-2 Teil 2 (Präsentation) zu 20% (frei gewählt)

| Lekt. | Datum       | Thema | Detail                                            |
|-------|-------------|--------------|--------------------------------------------|
|<td colspan="3">Sommerferien 7. Juli - 12. August 2018 |
| [ 001 ](001_start/unterricht.html)   | 15.08.2018  | Einführung | Jahresplan, Verteilung VM / PHP-Basis-Setup, Abgabe Projektaufgabe |
| [ 002 ](002_web_architektur/unterricht.html)   | 22.08.2018  | Web-Applikations-Architektur|HTTP-Requests, statische / dynamische Seiten |
| [ 003 ](003_mvc_framework/unterricht.html)   | 29.08.2018  | MVC-Framework | Wir bauen ein eigens MVC-Framework: App-Einstieg, Routing |
| [ 004 ](004_views/unterricht.html)   | 05.09.2018  | MVC-Framework | Controllers, Views |
| [ 005 ](005_db_zugriff/unterricht.html)   | 12.09.2018  | Datenbank-Zugriff, Kommunikation Frontend/Backend| Verbindungsaufbau DB, Queries, Forumulardaten |
| [ 006 ](006_model/unterricht.html)   | 19.09.2018  | 2. Teil DB-Zugriff| 2. Teil, Umsetzen in Model (QueryBuilder), Input zu Selbststudium 26.09. |
| [ 007 ]()   | 26.09.2018  | Fällt aus - Kickoff-Tag Digitalisierung - Medienkonzept ||
| [ 008 ](008_sessions/unterricht.html)   | 03.10.2018  | Sessions, State |Stateless → Stateful: Sessions <br />Input zu Referate am 14./21.11., 20% für Modulnote|
|<td colspan="3">Herbstferien 06. Oktober - 21. Oktober 2018</td>|
| [ 009 ](009_datenschutz/unterricht.html)   | 24.10.2018  |Daten schützen| Thema Datensicherheit, Datenschutz, Was heisst Sicherheit? Was gilt es zu schützen?  Was heisst Datenschutz? Wie wird er umgesetzt? Angriffe von Aussen|
| [ 010 ](010_datenschutz/unterricht.html)   | 31.10.2018  |Daten schützen|Angriffe von Aussen, technische Massnahmen für den Datenschutz |
| [ 011 ](011_locking/unterricht.html)   | 07.11.2018  |Daten schützen, Applikatorisches Locking|Datensatz-Locking auf Applikationsebene |
| [ 012 ]()   | **14.11.2018**  |Daten schützen| ** Referate zu Web-Bedrohungen **  |
| [ 013 ]()   | **21.11.2018**  |Daten schützen| ** Referate zu Web-Bedrohungen **|
| [ 014 ](014_files/unterricht.html)   | 28.11.2018  |Dateien behandeln|Dateien hochladen, speichern, ausliefern, Dateizugriff schützen |
| [ 015 ](015_changes/unterricht.html)   | 05.12.2018  |Change Requests, Projektarbeits-Zeit|Änderungen verwalten (Change Requests), Web-App-Update, DB-Update Organisation (Versionen, DB-Migrationen) |
| [ 016 ](016_testing/unterricht.html)   | 12.12.2018  |Testing|Whitebox-Testing, Black-Box-Testing |
| [ 017 ]()   | **19.12.2018**  |Projektarbeitszeit|**Abgabe Projektarbeiten LBV 1: Projektdokumentation am SCHLUSS der Woche, bis spätestens am 21. Dezember 2018** |
|<td colspan="3">Weihnachtsferien 22. Dezember 2018 - 06. Januar 2019</td>|
| [ 018 ]()   | ** 09.01.2019.2018**  |** Projekt-Demos**| 3 Vorführungen |
| [ 019 ]()   | ** 16.01.2019.2018**  |** Projekt-Demos**| 3 Vorführungen |
| [ 020 ](020_externe_datenquellen/unterricht.html)   | 21.01.2019  |Bonus-Lektion| Thema: externe Daten von xml, json |
|<td colspan="3">Sportferien 26. Januar 2019 - 3. Februar 2019</td>|
</textarea>
</section>

{% endblock %}
