{% extends "_base_template.html" %}

{% block sections %}
<section>

<section id="home" data-markdown style="font-size: 10pt">
<textarea data-template>
Lektionenplan M326 - 2019/2020-01 - Objektorientiert entwerfen und implementieren
=================

| Lekt. | Datum       | Thema | Detail                                            |
|-------|-------------|--------------|--------------------------------------------------------|
|<td colspan="3">Sommerferien 06. Juli - 11. August 2019 |
| [ 001 ](001_start/unterricht.html)                        | 15.08.2019  | Vorstellung, Einführung, Tools | Einführung, Vorstellung, VM bereitstellen / verteilen  inkl. Tools |
| [ 002 ](002_einfuehrung/unterricht.html)                  | 22.08.2019  | Überblick OOA / OOD | [ Einführung OOA/ OOD ](#/1/002) |
| [ 003 ](003_use_cases/unterricht.html)                    | 29.08.2019  | OOA | [ Use Cases, Überblick OOA ](#/1/003) |
| [ 004 ](004_ooa_klassenmodell/unterricht.html)            | 05.09.2019  |  OOA | [ Analyse: Klassenmodell ](#/1/004) |
| [ 005 ](005_ooa_klassenmodell/unterricht.html)            | 12.09.2019  |  OOA | [ 2. Lektion Klassenmodell ](#/1/004) |
| [ 006 ](006_ood_einfuehrung/unterricht.html)              | 19.09.2019  | OOD | [Einführung, Vorgehen](#/1/006)|
| [ 007 ](007_aktivitaeten/unterricht.html)                 | 26.09.2019  | OOD | Aktivitäten planen mit Aktivitätsdiagrammen |
| [ 008 ](008_sequenzen/unterricht.html)                    | 03.10.2019  | OOD | Sequenzdiagramme, Auslosen der Design-Pattern für Kurzpräsentation|
|<td colspan="3">Herbstferien 05. Oktober - 20. Oktober 2019</td>|
| [ 009 ](009_assoziationen/unterricht.html)                | 24.10.2019  | OOD | Implementation von Assoziationen|
| [ 010 ](010_kompositionen/unterricht.html)                | 31.10.2019  | OOD | 2. Teil Assoziationen: Implementierung |
| [ 011 ](011_mvc/unterricht.html)                          | 07.11.2019  | OOD | Design Patterns: MVC gemeinsam erarbeiten |
| [ 012 ](012_composite/unterricht.html)                    | 14.11.2019  | OOD | Design Patterns: Composite Pattern |
| [ 013 ](013_design_pattern_kurzvortrag/unterricht.html)   | **21.11.2019**  | OOD | [Design Pattern erarbeiten, **Kurzpräsentation eigenes Pattern**](#/1/012)|
| [ 014 ](014_Design_Pattern_Uebungen/unterricht.html)      | **28.11.2019**  | OOD | **Kurzpräsentation eigenes Pattern**, und Übungen zu Design Patterns |
| [ 015 ]()                                                 | 05.12.2019  | OOD | Übungen zu Design Patterns |
| [ 016 ]()                                                 | 12.12.2019  | OOD | Nochmals Übungen zu Design Pattern |
| [ 017 ]()                                                 | **19.12.2019**  | **Prüfung / Fallstudie: LB 326-1 **|4 Lektionen am Stück, Abtausch mit C. Inauen |
|<td colspan="3">Weihnachtsferien 23. Dezember 2019 - 05. Januar 2020 |
| [ 018 ]()                                                 | 09.01.2020  | ** Abtausch **| 4 Lektionen Unterricht bei C. Inauen, M133, ev. Ausfall. |
| [ 019 ](019_testing/unterricht.html)                      | 16.01.2020  | Testing | Besprechung LB, Testfälle ableiten aus OOA (Use Cases), Entwickeln von Testprotokollen |
| [ 020 ](020_bonus_orm/unterricht.html)                                                 | 23.01.2020  | ORM | ORM, ev. am Beispiel Hibernate |
|<td colspan="3">Sportferien 25.01.2020 - 02.02.2020 |
</textarea>
</section>

<section id="002" data-markdown>
<textarea data-template>
Notiz für nächstes Jahr: Web-Applikation mit Vaadin, anstatt Swing-UI!
</textarea>
</section>
</section>
{% endblock %}
