{% extends "../_base_template.html" %}
{% block title %}Lektion 1 - Willkommen{% endblock %}

{% block sections %}
<section data-markdown>
<textarea data-template>
<i class="fas fa-graduation-cap"></i> M151 - DB in Web-App einbinden
=============================

Heutiges Ziel
--------------

* Sie wissen, was wir in diesem Modul / Semester tun
* Sie kennen die Aufgabenstellung der Projektarbeit
* Sie haben eine lauffähige Entwicklungsumgebung, und das Projekt-Skelett funktioniert

</textarea>
</section>

<section data-markdown>
<textarea data-template>
<i class="fas fa-graduation-cap"></i> M151 - DB in Web-App einbinden
=============================

Thema &amp; Jahresplan
--------------

**Thema**:

* Entwickeln einer eigenen Web-Applikation mit Datenbank, in Projektarbeit
* Entwicklung eines **eigenen** Web-MVC-Frameworks
* Entwerfen und Umsetzen von Sicherheitsmassnahmen für Web-Applikationen


**Jahresplan**:

Siehe Moodle
</textarea>
</section>

<section data-markdown>
<textarea data-template>
<i class="fas fa-graduation-cap"></i> M151 - DB in Web-App einbinden
=============================

Projektarbeit
--------------

Siehe Projektarbeits-Beschrieb auf Moodle. Suchen Sie auf **nächstes Mal** das Thema / die Applikation für Ihre Projektarbeit. Ein paar Beispielthemen, welche sich eignen würden:
* Blog-System mit Benutzerverwaltung, ev. Seiten- und Themen-Verwaltung
* Wiki-System (à la Dokuwiki)
* Issue-Tracking-System
* Forum (mehrere Foren, verschiedene Rollen etc.)
* Medien- resp. Photo-Verwaltung und -Publikation
* kleines Shop-System
* ...?

Suchen Sie nicht zu weit, und vor allem: **Planen Sie nicht zu viel Funktionalität ein**:
Ich gebe Ihnen in jeder Lektion etwas Zeit, um am Projekt zu arbeiten: Alles in allem haben Sie ca. 10 Lektionen im Unterricht Zeit, den Rest machen Sie zu Hause.

* Richtgrösse: Ca. 5-8 Entitäten / ca. 6-8 Bildschirmmasken
* Die App muss ein User-Login / Authentifizierung vorsehen
* Abgabe: 16. Dezember 2020
</textarea>
</section>

<section data-markdown>
<textarea data-template>
<i class="fas fa-graduation-cap"></i> M151 - DB in Web-App einbinden
=============================

Benötigte Software für den Unterricht
--------------

Wir entwickeln eine Web-Applikation auf Basis HTML/CSS, PHP, MySQL. Sie erhalten eine lauffähige Infrastruktur
als **Docker-Container** und einem Applikations-Skelett mit den wichtigsten Konfigurationen.

Sie benötigen folgende Sofware:

Software | Details
---------|---------
Docker inkl. `docker-compose` | darin enthaltene Container:<br />- Web-Server-Container mit PHP 7.4<br />- Docsify-Container<br />- PlantUML-Container<br />- MySQL-DB-container
MySQL Workbench | Oder ein anderes MySQL-Management-Programm
Programmier-Editor | z.B. Sublime, Atom, **VS Code** (sehr zu empfehlen)
Browser | Mit guten Debugging-Möglichkeiten, z.B. Chrome (Sehr gut), Firefox
UML-Tool | PlantUML
GIT-Client | z.B. SourceTree: https://www.sourcetreeapp.com/

</textarea>
</section>

<section data-markdown>
<textarea data-template>
<i class="fas fa-graduation-cap"></i> M151 - Setup
=============================

* Erstellen und Klonen des github-Classroom-Repositories: https://classroom.github.com/a/4vyMjw_f
* Erstellen / Starten der Docker-Container:
```sh
$ git clone https://github.com/bztfinformatik/m151-webapp-[your-name-here].git
$ cd m151-webapp-[your-name-here]
$ docker-compose up
$ docker exec -ti m151-web composer install
```

Folgende Container laufen nun:

* Web-Container m151-web (http://localhost:8020/)
* Docsify-Container m151-docsify (http://localhost:10000)
* PlantUML-Server m151-plantuml (http://localhost/10001)
* MySQL-DB-Container m151-db (TCP Port 3306, User: m151, PW: m151)

Sie verwalten Ihren Quellcode mit der Quellcode-Verwaltung GIT, und pushen den Code
in das Github Classroom-Repository.

**Ziel**: Sie geben Ihr Projekt in Ihrem GIT-Repository ab. Am 16. Dezember 2020 ist Ihr gesamter,
lauffähiger Code inkl. Dokumentation im GIT Classroom-Repository gespeichert.
</textarea>
</section>

<section data-markdown>
<textarea data-template>
<i class="fas fa-graduation-cap"></i> Repository-Struktur
=============================

```text
.
├── db-data/                    # MySQL-Datenbank-Files
├── doc/                        # Docsify-Inhalt
│   ├── README.md               #   Startseite
│   └── _sidebar.md             #   Navigationsleiste
├── docker/                     # Docker-Image-Definitionen
├── docker-compose.yml          # Docker-Compose-Konfiguration
└── web/                        # Der Web-Code
```
</textarea>
</section>

<section data-markdown>
<textarea data-template>
<i class="fas fa-graduation-cap"></i> Funktionsweise des PHP-Skelett-Projektes
=============================

Dateistruktur
--------------
```
.
└── web
    ├── .gitignore            # Ignore-File für git: diese Files werden nicht ins Repo aufgenommen
    ├── .htaccess             # Apache-Redirect-Anweisung: Alle Requests werden verboten
    ├── composer.json         # composer-Konfiguration: Composer ist der Paketmanager/Autoloader für PHP
    ├── composer.lock         # Das lockfile wird von composer selber erstellt.
    ├── src/                  # PHP-Sourcecode
    │   └── classes           # Namespace-Root "M151". Hier kommen alle PHP-Klassen zu liegen.
    │       └── Test.php      # Beispiel-Klasse "M151\Test"
    ├── vendor/               # Composer-Libraries
    │   └── autoload.php      # autoload-File: Dies muss in index.php angezogen werden
    └── webroot/              # öffentlich zugänglicher Web-Pfad (erreichbar via http://localhost:8020/)
        ├── .htaccess         # Apache-Redirect-Anweisung: Alle Requests landen in index.php
        └── index.php         # Einstiegspunkt, "Dispatching"
```

Redirect auf `index.php` für alle nicht-Datei-Anforderungen
----------------

* Ziel: Alle Nicht-Datei-URLs landen in einem Einstiegsscript (dispatching): Dies ist der Einstiegspunkt in unsere Applikation.
* Dies wird via Apache-Redirect-Anweisung in `webroot/.htaccess` konfiguriert.

Weiteres
----------

* Apache-Config für Webroot: am Beispiel
* Composer: PHP Pakte- und Autoloading-Mechanismen
  * Wichtige Kommandos: siehe Moodle
* Namespaces in PHP (Support von Composer included)
  * Namespaces helfen, Namenskonflikte von Klassen zu vermeiden
  * Composer unterstützt das Autoloading von Klassen mit Namespaces
</textarea>
</section>

<section data-markdown>
<textarea data-template>
<i class="fas fa-graduation-cap"></i> Programmieren in PHP
=============================

Wir programmieren ein Web-Framework in PHP - Machen Sie sich mit folgenden (PHP-)Konzepten vertraut:

* Objektorientiertes Programmieren: https://www.php.net/manual/de/language.oop5.php
* Class Autoloading und Paketmanager: https://getcomposer.org/
* PHP Namespacing: https://www.php.net/manual/de/language.namespaces.basics.php

Sie sollten bis nächstes Mal in der Lage sein:

* eigene PHP-Klassen zu entwerfen
* diese korrekt in einem Namespace zu definieren
* diese korrekt vom Autoloader zu laden und
* zu instanzieren / anwenden

**Schauen Sie sich dazu das Web-Skelett an, dort finden Sie bereits ein laufendes Beispiel!**

</textarea>
</section>
{% endblock %}
