{% extends "../_base_template.html" %}
{% block title %}Lektion 11 - Design Pattern - MVC{% endblock %}

{% block sections %}
<section data-markdown>
<textarea data-template>
<i class="fas fa-flask"></i> Besprechung HA: Umsetzen Assoziationen
=============================

* Besprechen / Zeigen der Kompositions-Aufgabe

</textarea>
</section>

<section data-markdown>
<textarea data-template>
<i class="fas fa-graduation-cap"></i> Design Pattern
=============================

Heutiges Ziel
-------------

* Sie wissen, was man unter "Design Pattern" versteht
* Sie kennen das MVC-Design Pattern
* Sie können das MVC-Design-Pattern im Code anwenden

### Hausaufgaben

* Implementieren der Maske "Person erstellen" unter Einsatz des MVC-Design-Pattern

</textarea>
</section>

<section>
<section data-markdown>
<textarea data-template>
<i class="fas fa-graduation-cap"></i> Was sind Design Pattern?
=============================

<div class="fragment">

* Design Patterns lösen bekannte, wiederkehrende Entwurfsprobleme.

* Sie fassen Design- und Architekturwissen in kompakter und wiederverwertbarer Form zusammen.

* Design Pattern sind nur **„Denkmuster“**, keine konkrete Umsetzung in Software (im Gegensatz zu Frameworks und Libraries)<br />
  <i class="far fa-hand-point-right"></i> Sie geben dem Entwickler ein "Best Practice"-Werkzeug

* Sie kommen selten allein :-) <br />
  Design Pattern kommen an unzähligen Stellen in Programmen vor, auch mehrfach dieselben.<br/>
  Beispiel: das MVC-Pattern wird vielmals unter Zuhilfenahme des Observer/Observable-Pattern umgesetzt.

* Sie orientieren sich an den wichtigen **Software-Entwurfsprinzipien**:
    * <!-- .element class="fragment" --> DRY - Don't Repeat Yourself!
    * <!-- .element class="fragment" --> Single Responsibility, Separation of Concerns
    * <!-- .element class="fragment" --> Open-Closed Principle: Offen für Erweiterungen, geschlossen für Änderungen
    * <!-- .element class="fragment" --> Liskov Substitution Principle (Kindklasse kann an Stelle der Elternklasse stehen)

</div>
</textarea>
</section>

<section data-markdown >
<textarea data-template>
<i class="fas fa-graduation-cap"></i> Liskov Substitution Principle
=============================

"Eine Kindklasse kann an jeder Stelle einer Elternklasse eingesetzt werden." - Was bedeutet dies?

* Wichtigstes Konzept der objektorientierten Programmierung
<img src="Barbara_Liskov.PNG" width="100" style="float:right"/>
* wurde 1993 von der amerikanischen Informatikerin Barbara Liskov formuliert<br />
* Damit ist garantiert, dass Operationen, die auf ein Elternobjekt ausgeführt werden,
  auch von der Kindklasse korrekt ausgeführt werden.

Siehe: https://de.wikipedia.org/wiki/Liskovsches_Substitutionsprinzip

Beispiel:
<pre><code class="java">
//Eltern-Klasse: Auto
class Auto {
    public void flicke() {
        // ... flick flick ....
    }
}

// Kind-Klasse: Porsche erbt von Auto:
class Porsche extends Auto {
    // nichts neues...
}

class Werkstatt {
    // Nimmt die Klasse Auto entgegen:
    public void repariere(Auto: auto) {
        auto.flicke();
    }
}

// Liskov Subsitution Principle: der Porsche ist auch ein Auto:
Porsche p = new Porsche();
Werkstatt w = new Werkstatt();

// Aufruf der Funktion mit einer Kindklasse von Auto:
w.repariere(porsche);
</code></pre>
</textarea>
</section>
</section>


<section data-markdown>
<textarea data-template>
<i class="fas fa-flask"></i> Design Pattern
=============================

Quelle: http://java-design-patterns.com/patterns/

Design Pattern werden grob in Kategorien eingeteilt:

* Architektur
* Behavioral
* Creational
* Structural
* Presentation

Wir lernen folgende Pattern kennen:

* MVC - Presentation
* Composite - Structural
* Observer / Observable - Behavioral
* Strategy - Behavioral
* Adapter - Structural
* Singleton - Creational

( ... und weitere, welche wir nicht genauer betrachten ...)
* Factory Method - Creational
* Iterator - Behavioral
* Decorator - Structural
</textarea>
</section>


<section data-markdown>
<textarea data-template>
<i class="fas fa-flask"></i> Design Pattern - MVC
=============================

Design Pattern: **MVC - Model, View, Controller**

* Selbständiges Einarbeiten: Lesen Sie das Merkblatt auf Moodle: **Merkblatt Design Pattern MVC**
* Lesen Sie auch die Beschreibung unter https://java-design-patterns.com/patterns/model-view-controller/
* Beantworten Sie folgende Fragen:
  * In welche _Architekturschicht_ gehören Model, View, Controller?
  * Wo finden Sie das MVC-Pattern im BibSys-Prototyp? Zeigen Sie ein Beispiel!
  * Ist das MVC-Pattern im BibSys-Prototypen _korrekt_ angewendet?
  * Welche Klassen (von Ihrem gefundenen Beispiel) bilden Model, View, und Controller ab?

Sie haben **20 Minuten Zeit** für diese Aufgabe. Wir besprechen dies im Anschluss.

<img src="mvc_uml.png" width="40%"/>

</textarea>
</section>


<section data-markdown>
<textarea data-template>
<i class="fas fa-flask"></i> (Haus-)aufgaben
=============================

Sie implementieren den Use-Case **Personen erstellen** im BibSys-Prototypen mit dem MVC-Pattern

* im Hauptmenu wird neu der Menupunkt "Person-Manager" angezeigt
* Durch Wahl von "Person-Manager" wird die PersonManagerView gestartet. Diese zeigt eine Liste mit vorhandenen Personen und deren Login-Daten, und ein Menupunkt "Neue Person erfassen"
* Beim neu Erfassen wird ein Eingabeformular mit den notwendigen Daten angezeigt (Name, Vorname, Email). Beim Speichern wird die Person UND ein zugehöriger Benutzer mit Login erstellt / gespeichert.

<div style="display:flex">
    <img src="person_liste.png" style="margin-right: 10px;" />
    <img src="person_maske.png" style="margin-right: 10px;" />
</div>
</textarea>
</section>

<section data-markdown>
<textarea data-template>
<i class="fas fa-flask"></i> (Haus-)aufgaben
=============================

**Implementieren Sie diese Funktionalität im BibSys-Prototypen.**

* **Halten Sie sich dabei an das MVC-Modell**
* Erstellen / ergänzen Sie das Klassen-Diagramm (UML) aus der Analyse-Phase um die notwendigen TECHNISCHEN Klassen (inkl. View-Klassen):
    * überlegen Sie, welche Klassen Sie benötigen für die Views(s), die Controller, die / das Model
* Erstellen Sie die Maske / Programmfunktionalität in Java:
    * In der View **MainMenuView** ergänzen Sie das Menu um einen neuen Menu-Punkt "Person-Manager".
    * Erstellen Sie eine neue View mit zugehörigem Controller **PersonManagerView**
    * Diese View soll wie oben beschrieben die Personen auflisten und eine neue Person erstellen können
    * Benutzerdaten müssen ebenfalls gleich automatisch erzeugt werden

**Hinweis:** Sie werden dazu die Swing-Klasse `JTable` verwenden: Diese Klasse wendet MVC für sich an: Sie separiert die Darstellung
und die Daten: Dies ist der Grund für das "`TableModel`", welches das "M" von MVC darstellt.

## Hilfestellungen

* Tabelle in Swing (`JTable`): Sie finden bereits ein Beispiel im Prototyp: `AusleiheListView` und `AusleiheListViewController` verwenden eine `JTable`,
  um die ausgeliehenen Medien anzuzeigen. Nehmen Sie dies als Beispiel!
* Mehr zu JTable finden Sie hier: https://docs.oracle.com/javase/tutorial/uiswing/components/table.html
* Wie Sie auf einen Doppelklick auf eine Tabellen-Zeile reagieren, finden Sie z.B. hier:
    https://www.tutorialspoint.com/how-can-we-detect-the-double-click-events-of-a-jtable-row-in-java
```java
table.addMouseListener(new MouseAdapter() {
    public void mouseClicked(MouseEvent me) {
        if (me.getClickCount() == 2) {     // to detect doble click events
            JTable target = (JTable)me.getSource();
            int row = target.getSelectedRow(); // select a row
            int column = target.getSelectedColumn(); // select a column
            JOptionPane.showMessageDialog(null, table.getValueAt(row, column)); // get the value of a row and column.
        }
    }
});
```
</textarea>
</section>
{% endblock %}
