{% extends "../_base_template.html" %}
{% block title %}Lektion 11 - Design Pattern - MVC{% endblock %}

{% block sections %}
<section data-markdown>
<textarea data-template>
<i class="fas fa-flask"></i> Besprechung Hausaufgaben: Umsetzen Assoziationen
=============================

Besprechen / Zeigen der Kompositions-Aufgabe


</textarea>
</section>

<section data-markdown class="bigger-2">
<textarea data-template>
<i class="fas fa-graduation-cap"></i> Design Pattern
=============================

Heutiges Ziel
-------------

* Sie wissen, was man unter "Design Pattern" versteht
* Sie kennen das MVC-Design Pattern
* Sie können das MVC-Design-Pattern im Code anwenden

### Hausaufgaben

* Implementieren der Maske "Buch-Detail" unter Einsatz des MVC-Design-Pattern

</textarea>
</section>

<section>
<section data-markdown class="bigger-2">
<textarea data-template>
<i class="fas fa-graduation-cap"></i> Was sind Design Pattern?
=============================

* Design Patterns lösen bekannte, wiederkehrende Entwurfsprobleme.
* Sie fassen Design- und Architekturwissen in kompakter und wiederverwertbarer Form zusammen.
* Design Pattern sind nur **„Denkmuster“**, keine konkrete Software (im Gegensatz zu Frameworks und Libraries)

* Sie orientieren sich an den wichtigen **Software-Entwurfsprinzipien**:
* <!-- .element class="fragment" --> DRY - Don't Repeat Yourself!
* <!-- .element class="fragment" --> Single Responsibility, Separation of Concerns
* <!-- .element class="fragment" --> Open-Closed Principle: Offen für Erweiterungen, geschlossen für Änderungen
* <!-- .element class="fragment" --> Liskov Substitution Principle (Kindklasse kann an Stelle der Elternklasse stehen)

* Sie kommen selten allein :-) <br />
  Beispiel: das MVC-Pattern wird vielmals unter Zuhilfenahme des Observer/Observable-Pattern umgesetzt.

</textarea>
</section>

<section data-markdown >
<textarea data-template>
<i class="fas fa-graduation-cap"></i> Liskov Substitution Principle
=============================

"Eine Kindklasse kann an jeder Stelle einer Elternklasse eingesetzt werden." - Was bedeutet dies?

* Wichtigstes Konzept der objektorientierten Programmierung
* wurde 1993 von der amerikanischen Informatikerin Barbara Liskov formuliert<br />
<img src="Barbara_Liskov.PNG" width="100"/>
* Damit ist garantiert, dass Operationen, die auf ein Elternobjekt ausgeführt werden,
  auch von der Kindklasse korrekt ausgeführt werden.

Siehe: https://de.wikipedia.org/wiki/Liskovsches_Substitutionsprinzip

Beispiel:
<pre><code class="java">
//Eltern-Klasse: Auto
class Auto {
    public void flicke() {
        // ... flick flick ....
    }
}

// Kind-Klasse: Porsche erbt von Auto:
class Porsche extends Auto {
    // nichts neues...
}

class Werkstatt {
    // Nimmt die Klasse Auto entgegen:
    public void repariere(Auto: auto) {
        auto.flicke();
    }
}

// Liskov Subsitution Principle: der Porsche ist auch ein Auto:
Porsche p = new Porsche();
Werkstatt w = new Werkstatt();

// Aufruf der Funktion mit einer Kindklasse von Auto:
w.repariere(porsche);
</code></pre>
</textarea>
</section>
</section>


<section data-markdown>
<textarea data-template>
<i class="fas fa-flask"></i> Design Pattern
=============================

Quelle: http://java-design-patterns.com/patterns/

Design Pattern werden grob in Kategorien eingeteilt:

* Architektur:
* Behavioral
* Creational
* Structural
* Presentation

Wir lernen folgende Pattern kennen:

* MVC - Presentation
* Adapter - Structural
* Factory Method - Creational
* Strategy - Behavioral
* Observer / Observable - Behavioral

</textarea>
</section>


<section data-markdown>
<textarea data-template>
<i class="fas fa-flask"></i> Design Pattern - MVC
=============================

Design Pattern: **MVC - Model, View, Controller**

* Selbständiges Einarbeiten: Lesen Sie das Merkblatt auf Moodle: **Merkblatt Design Pattern MVC**
* Beantworten Sie folgende Fragen:
  * In welche _Architekturschicht_ gehören Model, View, Controller?
  * Wo finden Sie das MVC-Pattern im BibSys-Prototyp? Zeigen Sie ein Beispiel!
  * Ist das MVC-Pattern im BibSys-Prototypen _korrekt_ angewendet?
  * Welche Klassen (von Ihrem gefundenen Beispiel) bilden Model, View, und Controller ab?

Sie haben **20 Minuten Zeit** für diese Aufgabe. Wir besprechen dies im Anschluss.

</textarea>
</section>


<section data-markdown>
<textarea data-template>
<i class="fas fa-flask"></i> Hausaufgaben
=============================

Sie implementieren den Use-Case **Ausleihe via Barcode-Scan**:

* User liest Barcode von Buch ein (Eingabe der Barcode-Nummer, entspricht z.B. id auf dem Medium)
* System prüft, ob Medium vorhanden und ausleihbar ist
* System bucht Medium als vorhanden
* System gibt Rückmeldung in Maske
* System fragt nach weiteren Medien

**Implementieren** Sie diese Funktionalität im BibSys-Prototypen:

* Halten Sie sich dabei an das MVC-Modell
* Erstellen / ergänzen Sie das Klassen-Diagramm (UML) aus der Analyse-Phase um die notwendigen TECHNISCHEN Klassen (inkl. View-Klassen):
    * überlegen Sie, welche Klassen Sie benötigen für:
      * die View(s)
      * die Controller
      * die / das Model
* Erstellen Sie die Maske / Programmfunktionalität in Java:
    * In der View **MainMenuView** ergänzen Sie das Menu um einen neuen Menu-Punkt "Barcode-Ausleihe".
    * Erstellen Sie eine neue View mit zugehörigem Controller **BarcodeAusleiheView**
    * Diese View soll einen "Barcode" einlesen (Eingabe einer Nummer via Tastatur), ein zugehöriges Medium suchen
    * Das Medium soll dem Benutzer zugewiesen werden / als ausgeliehen markiert werden

Nach den Ferien schauen wir uns Ihre Lösung(en) an: Ich werde jemanden aussuchen, der seine Lösung vorstellt.
</textarea>
</section>
{% endblock %}
